body {
  font-family: 'Montserrat', sans-serif;
  background-color: #ECECEC;
}

.search-wrapper {
    margin-right: 40px;
    vertical-align: middle;
}

.widget {
  width: 500px;
}

.search-wrapper input#search-box {
    height: 42px;
    background: #2b303b;
    border: none;
    font: 11px 'Montserrat';
    float: left;
    color: #eaeaea;
    padding-left: 10px;
    padding-right: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    outline: none;
    margin: 1em 1.5em 3em;
    width: calc(100% - 3em);
    box-sizing: border-box;
}


.search-wrapper {
    width: 450px;
}

.results-wrapper {
  font: 12px 'Montserrat';
  padding-left: 16px;
}

.hit-item {
  width: inherit;
  margin: 2px;
  height: 60px;
  text-align: left;
}

.reviews {
  margin-left: 10px;
  font-weight: lighter;
}


.description {
  border-left: 10px;
  margin-left: 55px;
}

.hit-title {
  font-weight: bold;
  font-size: 13px;
}

.hit-item img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  float: left;
}

#container {
  max-width: calc(100% - 3em);
}

#container .hit {
  padding: 8px 0;
}

#container em {
  background: yellow;
  font-style: normal;
}
